.img-1 {
  display: none;
}

@media screen and (max-width: 500px) {
  .img-1 {
    display: block;
    margin-left: 0%;
    position: absolute;
    width: 45%;
    margin-top: 0%;
  }
}
/* Oculta la imagen por defecto */
.img-2 {
  display: none;
}

@media screen and (max-width: 500px) {
  .img-2{
    display: block;
    margin-left: 40%;
    position: absolute;
    width: 60%;
    margin-top: 112%;
  }
}

@media screen and (max-width: 390px) {
  .img-2{
    display: block;
    margin-left: 70%;
    position: absolute;
    width: 30%;
    margin-top: -680%;
  }
}

