<div class="contenedor-conteo">
  <p data-aos="zoom-in" class="solofaltan">{{traductorService.getTexto("soloFaltan")}}</p><br>
  <div class="contador">
    <div class="tiempo">
      <div class="cuadro" data-aos="zoom-in">
        <div class="numero" id="dias">365</div>
        <div class="etiqueta">{{traductorService.getTexto("counterDias")}}</div>
      </div>
    </div>
    <div class="tiempo">
      <div class="cuadro" data-aos="zoom-in">
        <div class="numero" id="horas">12</div>
        <div class="etiqueta">{{traductorService.getTexto("counterHoras")}}</div>
      </div>
    </div>
    <div class="tiempo">
      <div class="cuadro" data-aos="zoom-in">
        <div class="numero" id="minutos">45</div>
        <div class="etiqueta">{{traductorService.getTexto("counterMinutos")}}</div>
      </div>
    </div>
    <div class="tiempo">
      <div class="cuadro" data-aos="zoom-in">
        <div class="numero" id="segundos">30</div>
        <div class="etiqueta">{{traductorService.getTexto("counterSeg")}}</div>
      </div>
    </div>
  </div>


  <br>
  <br>
</div>
