<div class="contenedor-nuest-momen">
  <div class="colum-nuest-momen">
    <p class="titulo-momen" data-aos="zoom-in">
      {{ traductorService.getTexto("tituloMomentos") }}
    </p><br>

      <div class="grid">
        <div class="grid-item grid-item--width4">
          <img src="assets/IMG (16).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item">
          <img src="assets/IMG (10).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/IMG (33).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width4">
          <img src="assets/IMG (8).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/IMG (34).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item">
          <img src="assets/IMG (1).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width4">
          <img src="assets/IMG (18).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item">
          <img src="assets/IMG (12).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/IMG (4).jpg  " class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width4">
          <img src="assets/IMG (26).jpg" class="grid-item" data-aos="zoom-in">
        </div>
      </div>

    <br />

    <p class="textosec">
      {{ traductorService.getTexto("textoMomentos") }}
    </p>

    <img src="assets/qrFrancis.png" width="40%" alt="QR" />
  </div>

    <!-- <div class="colum-cerm">
    <br>
    <br>
    <img src="assets/oracion.png" width="20%" data-aos="zoom-in">
    <p class="titulo-momen" data-aos="zoom-in" [innerHTML]="traductorService.getTexto('tituloCeremonia')">
    </p>
    <br>
    <p class="textosec">
      <strong>Christ The King Catholic Parish</strong> <br>
      16000 SW 112th Ave, Miami, FL 33157, EE. UU.
    </p>
    <p class="titulo-momen" data-aos="zoom-in" [innerHTML]="traductorService.getTexto('fecha')">
    </p>
    <p class="textosec" data-aos="zoom-in" [innerHTML]="traductorService.getTexto('tfecha')">
    </p>
    <a href="https://maps.app.goo.gl/2sggZyVhyVMP6NCf8" data-aos="zoom-in" class="cerm-recep-button"
      [innerHTML]="traductorService.getTexto('ubicacion')">
    </a>

  </div> -->
</div>
