<div class="contenedor-nuest-momen">
  <div class="colum-nuest-momen">
    <p class="titulo-momen" data-aos="zoom-in">
      {{ traductorService.getTexto("tituloMomentos") }}
    </p><br>

      <div class="grid">
          <div class="grid-item">
          <img src="assets/IMG (10).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/IMG (33).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/IMG (34).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item">
          <img src="assets/IMG (1).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item">
          <img src="assets/IMG (12).jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/IMG (4).jpg  " class="grid-item" data-aos="zoom-in">
        </div>
      </div>

    <br />

    <p class="textosec">
      {{ traductorService.getTexto("textoMomentos") }}
    </p>

    <img src="assets/QrLeah.png" width="40%" alt="QR" />
  </div>
</div>
