<div class="contenedor-portada">
  <div class="portada-container">
    <div class="contenedor-carousel">
      <div class="carouselImg">
        <img src="assets/IMG (31).jpg" alt="Imagen 1">
      </div>
    </div>
  </div>

  <div class="contenedor-conteo">
    <div class="contenedor-button-idioma">
      <label class="switch">
        <input type="checkbox" (change)="cambiarIdioma($event)"
          [attr.checked]="traductorService.lenguaje === 'ES' ? null : false">
        <span class="slider"></span>
      </label>

      <p class="texto-idioma">
        {{traductorService.getTexto("traduccion")}}
      </p>
    </div>
    <!--
    -->
    <img src="assets/img_f1.png" class="img-1">
    <br>
    <div class="music-player">

      <audio controls id="audioPlayer">
        <source src="assets/cancionFrancis.mp3" type="audio/mp3"><br>
        {{traductorService.getTexto("pCancion")}}

      </audio>

      <br><br>
      <!--
          <img src="assets/portada2.jpg" alt="Invitación de Boda" class="imagen-portada" />
          <img src="assets/mona.png" class="img-1" style="width: 100%;">
        -->

    </div>
    <br>

    <div class="portada">
      <!-- <p class="tituloportada" [innerHTML]="traductorService.getTexto('primerTitulo')"></p> -->
      <p class="nomQ" [innerHTML]="traductorService.getTexto('tNombres')"></p>
      <p class="textosec" [innerHTML]="traductorService.getTexto('mensajeBienvenida1')"></p>
    </div>


    <br><br>
    <div class="contenedor-nombres">
      <p class="tituloportada" [innerHTML]="traductorService.getTexto('nomPadres')"></p>

      <p class="titulop" data-aos="zoom-in">
        Maynor Mendoza<br> Rosa Francis Mendoza
      </p>
      <!-- <br><br>
      <p class="titulopadrinos" data-aos="zoom-in" [innerHTML]="traductorService.getTexto('nomPadrinos')"></p>
      <p class="nombrePadrinos" data-aos="zoom-in">
        Marvin Morales <br>Mariela Morales
      </p> -->

      <br><br>
      <p class="textosec" [innerHTML]="traductorService.getTexto('mensajeBienvenida2')">
      </p>
      <br><br>
      <p class="tituloportada" [innerHTML]="traductorService.getTexto('primerTitulo')"></p>

      <br>
  </div>


</div>