<app-portada></app-portada>
<app-calendario></app-calendario>
<app-contador></app-contador>
<app-img-flores></app-img-flores>
<app-guar-fech></app-guar-fech>
<app-fech-img></app-fech-img>
<app-cerm-recep></app-cerm-recep><br><br>
<app-momentos></app-momentos><br><br><br>

<app-drees-code></app-drees-code><br><br>
    <app-regalos></app-regalos><br><br>
<app-seg-img-flores></app-seg-img-flores>
<app-carrusel></app-carrusel><br><br>   
<app-confir-asisten></app-confir-asisten>
<br>
<app-des-img></app-des-img>
<app-glasmmy></app-glasmmy>

<!--
    <app-timeline></app-timeline><br><br><br>
<app-confirmacion-cuadrado></app-confirmacion-cuadrado>

<app-kids></app-kids><br><br><br>

<app-drees-code></app-drees-code><br><br>
<app-carrusel></app-carrusel><br><br><br>
<app-confirmacion-cuadrado></app-confirmacion-cuadrado>
 -->

<!--  -->