.contenedor-des-img {
  position: relative;
  text-align: center;
  padding: 40px 0px;
}

.colum-des-img {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  margin: 0 auto;
}

.textosec {
  font-size: 50px;
  font-family: "nathalia";
  font-size: 55px;
  color: #bda672;
  margin-top: 2%;
  margin-bottom: 0%;
}

.nom-pareja {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #222222;
  margin-top: 0%;
  margin-bottom: 0%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  grid-template-rows: repeat(2, auto); /* 2 filas ajustadas automáticamente */
  gap: 10px; /* Espaciado entre los elementos */
  margin-top: 10px;
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
}

.grid-item {
  height: 250px; /* Altura fija para las celdas */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
}

.grid-item img {
  width: 100%; /* Ocupa el ancho completo del contenedor */
  height: 100%; /* Ocupa la altura completa del contenedor */
  object-fit: cover; /* Recorta la imagen proporcionalmente */
}

.grid-item--width2 {
  grid-column: span 2; /* Ocupa 2 columnas */
}

.grid-item--height2 {
  grid-row: span 2; /* Ocupa 2 filas */
}

.grid-item--width3 {
  grid-column: span 4; /* Ocupa 2 columnas */
}

.grid-item--height3 {
  grid-row: span 2; /* Ocupa 2 filas */
}



@media (min-width: 768px) {
  .gallery-wrapper {
    height: 400px;
  }

  .gallery-track img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
}

.gallery-wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.gallery-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.gallery-track img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.img-2 {
  display: none;
}

@media screen and (max-width: 500px) {
  .img-2{
    display: block;
    margin-left: -34%;
    position: absolute;
    width: 65%;
    margin-top: -5%;
  }
}

@media screen and (max-width: 390px) {
  .img-2{
    display: block;
    margin-left: 70%;
    position: absolute;
    width: 30%;
    margin-top: -680%;
  }
}

.bloque-despedida {
  position: relative;
  padding: 40px 20px;
}

.bloque-despedida::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url('/assets/hadas.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px; /* ajusta tamaño */

  opacity: 0.40; /* efecto elegante */
  z-index: 0;
}

.bloque-despedida p {
  position: relative;
  z-index: 1;
}