<div class="contenedor-des-img">
  <div class="colum-des-img">
    <!--
      <div class="grid">
          <div class="grid-item">
          <img src="assets/DSC_2994-5.jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/DSC_3350-29.jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/DSC_3380-10.jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item">
          <img src="assets/DSC_3169-13a.jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item">
          <img src="assets/DSC_3318-25.jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/DSC_3000-6a.jpg" class="grid-item" data-aos="zoom-in">
        </div>
      </div>
    -->
    <img class="img-pareja" src="assets/IMG (9).jpg" width="100%" data-aos="zoom-in" data-aos-duration="3000">
    <br>
    <img class="img-pareja" src="assets/IMG (6).jpg" width="100%" data-aos="zoom-in" data-aos-duration="3000">
    <br>
    <p class="textosec" data-aos="zoom-in" [innerHTML]="traductorService.getTexto('tituloDespedida')">
    </p>
  </div>
</div>
