<div class="contenedor-des-img">
  <div class="colum-des-img">
    <!--
      <div class="grid">
          <div class="grid-item">
          <img src="assets/DSC_2994-5.jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/DSC_3350-29.jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/DSC_3380-10.jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item">
          <img src="assets/DSC_3169-13a.jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item">
          <img src="assets/DSC_3318-25.jpg" class="grid-item" data-aos="zoom-in">
        </div>
        <div class="grid-item grid-item--width2">
          <img src="assets/DSC_3000-6a.jpg" class="grid-item" data-aos="zoom-in">
        </div>
      </div>
    -->
    <br>
    <div class="gallery-wrapper">
    <div class="gallery-track" data-aos="zoom-in" data-aos-duration="3000">
      <img src="assets/IMG (9).jpg" alt="Imagen 1">
      <img src="assets/IMG (3).jpg" alt="Imagen 2">
      <img src="assets/IMG (5).jpg" alt="Imagen 3">
      <img src="assets/IMG (7).jpg" alt="Imagen 4">
      <img src="assets/IMG (21).jpg" alt="Imagen 5">
      <img src="assets/IMG (15).jpg" alt="Imagen 6">

      <img src="assets/IMG (11).jpg" alt="Imagen 7">
      <img src="assets/IMG (13).jpg" alt="Imagen 8">
      <img src="assets/IMG (22).jpg" alt="Imagen 9">

      <img src="assets/IMG (24).jpg" alt="Imagen 10">
      <img src="assets/IMG (25).jpg" alt="Imagen 11">
      <img src="assets/IMG (35).jpg" alt="Imagen 12">

      <img src="assets/IMG (30).jpg" alt="Imagen 12">
      <img src="assets/IMG (32).jpg" alt="Imagen 12">

    </div>
  </div>
    <br>
    <p class="textosec" data-aos="zoom-in" [innerHTML]="traductorService.getTexto('tituloDespedida')">
    </p>
  </div>
</div>
