<div class="contenedor-regalos">
  <div class="colum-regalos">
    <img src="assets/caja-de-regalo.png" class="img-icon2" >
    <p class="titulo-regalos" data-aos="zoom-in" [innerHTML]="traductorService.getTexto('tituloRegalo')">
    </p>
    <div class="container-regalos">
      
      <P class="textosec" [innerHTML]="traductorService.getTexto('textoRegaloDos')">
      </P>

      <br>
      <img src="assets/dinero (2).png" class="img-icon" alt="" >
      <P class="textosec" [innerHTML]="traductorService.getTexto('textoRegOp1')">
      </P>

      <br>

      <img src="assets/mesa-de-regalo.png" class="img-icon" alt="" >
      <P class="textosec" [innerHTML]="traductorService.getTexto('textoRegOp2')">
      </P>
      <br>
      <a href="https://www.amazon.com/hz/wishlist/ls/31667CNDKDWPK?ref_=wl_share y link de regalos" class="buttonreg">
        AMAZON
      </a>
      <br><br>

      <!-- <P class="textosec" [innerHTML]="traductorService.getTexto('subtituloRegalo')">
      </P> -->
    </div>
  </div>
</div>
