<div class="contenedor-fech-img">

  <div class="colum-fech-img">

    <div class="carousel-container">

      <div
        class="custom-carousel"
        [style.transition]="transitionEnabled ? 'transform 0.8s ease-in-out' : 'none'"
        [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
      >

        <img src="assets/IMG (19).jpg">
        <img src="assets/IMG (27).jpg">
        <img src="assets/IMG (28).jpg">
        <img src="assets/IMG (20).jpg">
        <img src="assets/IMG (23).jpg">
        <img src="assets/IMG (6).jpg">
        <img src="assets/IMG (29).jpg">
        <img src="assets/IMG (2).jpg">

        <!-- clon -->
        <img src="assets/IMG (19).jpg">

      </div>

    </div>

  </div>

</div>