<div class="contenedor-fech-img">
  <div class="colum-fech-img"><br>
    <!--
      -->
      <div class="carousel-container">
        <div class="carousel">
          <img src="assets/IMG (19).jpg" alt="Imagen 1">
          <img src="assets/IMG (31).jpg" alt="Imagen 2">
          <img src="assets/IMG (28).jpg" alt="Imagen 3">
          <img src="assets/IMG (20).jpg" alt="Imagen 4">
          <img src="assets/IMG (23).jpg" alt="Imagen 5">
          
        </div>
  
      </div>
      <br>
    <!--
      <img data-aos="zoom-in" class="img-pareja" src="assets/IMG (19).jpg" width="100%" >

      <p class="textPas">
        "Todo lo puedo en Cristo que me fortalece" - <strong>Filipenses 4:13</strong>
      </p>
      <br>
      <p class="textosec" >
        {{traductorService.getTexto("textFechaBoda")}}
      </p>
      <p class="fecha-boda" data-aos="zoom-in">
        {{traductorService.getTexto("fechaBoda")}}
      </p>
    -->
  </div>
</div>